# Logs
logs
*.log
bun-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/target
/docs/tauri examples
/docs/api-spec/Rocket League Stats API_files
docs/api-spec/Rocket League Stats API.htm
